/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf)
}
.self-care-center-heading {
  margin: 8vh 0 8vh 0;
  font-size: 3rem;
}
.form-heading {
  margin-bottom: 2vh;
  font-size: 2rem;
}
.form-wrapper {
  margin-bottom: 8vh;
  padding: .3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  width: 45vw;
  max-height: 200px;
  color: #000;
  background: #fff;
}
.affirmation-btn,
.mantra-btn {
  margin: 3vh .3vw 2vh 0;
}
.custom-radio {
  margin-bottom: 2vh;
}
.affirmation-lable,
.manta-lable,
.custom-affirmation-lable,
.custom-mantra-lable {
  font-size: 1.3rem;
}
.submit,
.reset,
.custom-form-button,
.custom-submit {
  padding: .5vh 1.5vw .5vh 1.5vw;
  border-radius: .3rem;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  background: #134d71;
  transition: background 1s;
}
.submit:hover,
.reset:hover,
.custom-form-button:hover,
.custom-submit:hover {
  cursor: pointer;
  background: #1c6ea1;
}
.submit:active,
.reset:active,
.custom-form-button:active,
.custom-submit:active {
  background: #103348;
  transition: none;
}
.display-wrapper {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 55vw;
  height: 12vh;
  border-radius: 1rem;
  background: #fff;
  color: #000
}
.affirmation-mantra-msg {
  padding: 3.1rem 1rem;
  font-size: 1.8rem;
}
.fade-in {
  animation: fadein 2s ease-in forwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.custom-form-lable {
  margin-bottom: 2vh;
  font-size: 1.2rem;
}
.custom-text {
  width: 27vw;
  font-size: 1rem;
}
.meditate-image {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}
.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}
