/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf)
}
.self-care-center-heading {
  margin: 8vh 0 8vh 0;
  font-size: 3rem;
}
.form-heading {
  margin-bottom: 2vh;
  font-size: 2rem;
}
.form-wrapper {
  margin-bottom: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  width: 35rem;
  color: #000;
  background: #fff;
}
.affirmation-btn,
.mantra-btn {
  margin: 2.5vh .3vw 2.5vh 0;
}
.affirmation-lable,
.manta-lable {
  font-size: 1.3rem;
}
.affirmation-lable {
  margin-right: 5vw;
}
.submit,
.reset,
.custom-form-button,
.custom-submit {
  margin-bottom: 2vh;
  padding: .5vh 1.5vw .5vh 1.5vw;
  border-radius: .3rem;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  background: #134d71;
}
.submit:hover,
.reset:hover,
.custom-form-button:hover,
.custom-submit:hover {
  cursor: pointer;
  background: #1c6ea1;
}
.submit:active,
.reset:active,
.custom-form-button:active,
.custom-submit:active {
  background: #103348;
}
.display-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40rem;
  min-height: 9rem;
  border-radius: 1rem;
  background: #fff;
  color: #000
}
.affirmation-mantra-msg,
.custom-msg-lable {
  padding: 3.1rem 1rem;
  font-size: 1.8rem;
}
.meditate-image {
  max-width: 100px;
}
.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}
